{% extends "home.twig" %}
    {% block content %}

<section class="about pb-lg-0">
    <div class="container">
        <div class="row">
            <div class="img-hold col-md-5 col-sm-12">
                <img class="" src="img/history-img.png" alt="history-img">
            </div>
            <div class="col-md-7 col-sm-12">
                <h2 class="main">شركة اي بي سي للسياحه</h2>
                <h5 class="mb-5">تاسست شركة ايه بى سى للسياحة عام 2004 ترخيص رقم 1290 فئة ( أ ) سياحة عامة .. أكبر نسبة فوز في قرعة الحج وأفضل وارخص رحلات الحج والعمرة . وحجز تذاكر الطيران ورحلات السياحة الداخلية والخارجية ، خبرة وأشراف علي اعلي مستوي فى خدمة عملائنا الكرام.انها اي بي سي للسياحه وعلي مدي اكتر من (16) عام من النجاح اولينا خلالها كل الرعايه و سعينا من اجل التطوير و التجديد لنرتقي بمستوي خدمتكم ...خدمتنا كل عام و و تطويرنا و نجاحنا يزداد عام بعد عام</h5>
                <button class="btn px-4 mt-5 warning"><a href="contact.php" class="text-white">للاتصال بنا</a></button>
            </div>
        </div>
    </div>
</section>
<section class="team text-center">
    <div class="container">
        <h2 class="main"> فريق العمل</h2>
        <h5 class="my-3"> للحج والعمرة, أصحاب الستة عشر عاما من الخبرة, والتي تقدم خدماتها لأداء مناسك الحج والعمرة. بإشراف كادر من الإداريين والخبراء في العمل داخل المشاعر المقدسة. كما تمتاز شركة اي بي سي للسياحة بوسائل النقل الحديثة التي تساعد على تنقل الحجاج داخل المشاعر بكل سهولة، بالإضافة إلى أمكان الإقامة المجهزة بوسائل الراحة (الرفاهية)العالية وسط أجواء إيمانية وروحانية. وتولي اي بي سي للسياحة عناية خاصة باحتياجات عملائها بالإضافة إلى ابتكار وتطوير وسائل جديدة من شأنها أن تزيد من مستوى الخدمة المقدمة للحاج والمعتمر.
            إنها اي بي سي للسياحة وعلى مدى أكثر من (16) عاماً من النجاح … أولينا خلالها كل الرعاية وسعينا بالتطوير والتجديد لنرقى بمستوى خدمتكم ونصل إلى الخدمة المميزة العالية التي يستحقها أمثالكم ... خدماتنا كل عام .. وتطويرنا ونجاحنا يزداد عاماً إثر عام
        </h5>
        <img class="mt-5" src="img/team1.jpg" alt="">
    </div>
</section>

    {% endblock %}
