{% extends "home.twig" %}
{% block content %}
    <section class="prog-option py-5 programme hotel">
        <div class="text-center py-5">
            <h1 class="text-warning">قائمة الفنادق</h1>
            <h2>فَإِذَا أَمِنْتُمْ فَمَنْ تَمَتَّعَ بِالْعُمْرَةِ إِلَى الْحَجِّ فَمَا اسْتَيْسَرَ مِنَ الْهَدْيِ</h2>
        </div>
        <div class="container">
            <div class="row my-5 ">
                <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                    <div class="imgProg-holder">
                        <img class=" h-100" src="img/hotel.jpg">
                    </div>
                    <div class="prog-details text-center text-white py-3">
                        <h4 class="text-warning">فندق ايلاف السلام </h4>
                        <h5 class="text-white"> فندق 3.7 نجوم</h5>
                        <div class="hotel-icon text-center flex-row-reverse text-warning">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <button class="btn warning px-4 my-3"><a href="hotel_details.php" class="text-white">التفاصيل</a></button>
                    </div>
                </div>
                <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                    <div class="imgProg-holder">
                        <img class=" h-100" src="img/hotel2.jpg">
                    </div>
                    <div class="prog-details text-center text-white py-3">
                        <h4 class="text-warning">فندق بولمان زمزم </h4>
                        <h5 class="text-white"> فندق 4.5 نجوم</h5>
                        <div class="hotel-icon text-center flex-row-reverse text-warning">
                            <span><i class="fas fa-star-half-alt"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <button class="btn warning px-4 my-3"><a href="hotel_details.php" class="text-white">التفاصيل</a></button>
                    </div>
                </div>
                <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                    <div class="imgProg-holder">
                        <img class=" h-100" src="img/hotel3.jpg">
                    </div>
                    <div class="prog-details text-center text-white py-3">
                        <h4 class="text-warning">فندق الماسه </h4>
                        <h5 class="text-white"> فندق 3.8 نجوم</h5>
                        <div class="hotel-icon text-center flex-row-reverse text-warning">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <button class="btn warning px-4 my-3"><a href="hotel_details.php" class="text-white">التفاصيل</a></button>
                    </div>
                </div>
                <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                    <div class="imgProg-holder">
                        <img class="h-100" src="img/hotel4.jpg">
                    </div>
                    <div class="prog-details text-center text-white py-3">
                        <h4 class="text-warning">فندق هيلتون مؤتمرات مكة </h4>
                        <h5 class="text-white"> فندق 4.4 نجوم</h5>
                        <div class="hotel-icon text-center flex-row-reverse text-warning">
                            <span><i class="fas fa-star-half-alt"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <button class="btn warning px-4 my-3"><a href="hotel_details.php" class="text-white">التفاصيل</a></button>
                    </div>
                </div>
                <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                    <div class="imgProg-holder">
                        <img class=" h-100" src="img/hotel5.jpg">
                    </div>
                    <div class="prog-details text-center text-white py-3">
                        <h4 class="text-warning">فندق ايلاف بكه </h4>
                        <h5 class="text-white"> فندق 4.1 نجوم</h5>
                        <div class="hotel-icon text-center flex-row-reverse text-warning">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <button class="btn warning px-4 my-3"><a href="hotel_details.php" class="text-white">التفاصيل</a></button>
                    </div>
                </div>
                <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                    <div class="imgProg-holder">
                        <img class="rounded h-100" src="img/hotel6.jpg">
                    </div>
                    <div class="prog-details text-center text-white py-3">
                        <h4 class="text-warning">فندق الايمان طيبه </h4>
                        <h5 class="text-white"> فندق 3.7 نجوم</h5>
                        <div class="hotel-icon text-center flex-row-reverse text-warning">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <button class="btn warning px-4 my-3"><a href="hotel_details.php" class="text-white">التفاصيل</a></button>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}