{% extends "home.twig" %}
{% block content %}
    <section class="programme">
            <div class="container ">
                <div class="programme-item programme-content my-4 col-md-12">
                    <h3 class="main">مناسك الحج و العمرة</h3>
                    <div class="haj omrah mt-3">
                        <h3 class="main">مناسك العمرة :</h3>
                        <h5 class="main">الاحرام :</h5>
                        <p class="">
                            <span class="main">الإحرام</span> هو نية الدخول في <span class="main">العمرة</span>
                            يستحب أن يتلفظ المعتمر بقول (لبيك عمرة) عند إحرامه.<br>
                            يُحرم الذكر في إزار ورداء من غير المخيط [أي غير المفصل على مقدار العضو, كالفنيلة والشراب والسروال …الخ ] ويستحب أن يكون أبيضين
                            يستحب الاغتسال والطيب والتنظف قبل عقد نية الإحرام
                            ليس للإحرام ركعتان تسميان (ركعتي الإحرام) لكن لو صادف وقت حضور صلاة فريضة فأنه يحرم بعدها لفعله صلى الله عليه وسلم
                            تسن التلبية بعد <span class="omrah-item main">الإحرام</span> وهي قول ( لبيك اللهم لبيك ، لبيك لا شريك لك لبيك ,إن الحمد والنعمة لك والملك لا شريك لك) ويرفع بها الرجال أصواتهم أما النساء فيخفض أصواتهن بها ويتوقف المعتمرعند التلبية عند ابتدائه الطواف
                            يجوز خلع لباس <span class=" omrah-item main">الإحرام</span> وتغييره إذا اتسخ مثلاًََ , ويجوز للمحرم لبس  في بيته قبل سفره ولكن لا يعقد نية الإحرام إلا عند الميقات
                            ليس للمرأة لباس معين للإحرام كالأسود أو الأخضر كما يعتقد البعض
                            يجوز للمرأة المحرمة أن تلبس القفازين أو النقاب لأنهما مفصلان على مقدار العضو لقوله <span class="main omrah-item"> صلى الله عليه وسلم</span>(لا تنتقب المحرمة ولا تلبس القفازين) رواه البخاري ٫ ولكنها تستر وجهها ويديها عن الأجانب بغير القفازين والنقاب
                        </p>
                        <h5 class="main mt-3">الطواف :</h5>
                        <p class="">
                            <span class="main">الطواف </span>سبعة أشواط على الكعبة يبدأ كل شوط من أمام الحجر الأسود وينتهي به.<br>٫يجعل المعتمر الكعبة عن يساره أثناء طوافه

                            يسن أن يرمل المعتمر في الأشواط الثلاثة الأولى , والرَمَل هو مسارعة المشي مع تقارب الخطوات
                            يسن أن يضطبع المعتمر في طوافه كله , والاضطباع هو أن يجعل وسط ردائه تحت كتفه الأيمن وطرفيه على كتفه الأيسر
                            ٫يزيل المعتمر الاضطباع إذا فرغ من طوافه
                            يسن لمن يطوف أن يستلم الحجر الأسود (أي يلمسه بيده ) ويقبله عند مروره به , فإن لم يستطع استلمه بيده وقبلها , فإن لم يستطع استلمه بشيء معه  كالعصا وما شابهها
                            يسن لمن يطوف أن يستلم الركن اليماني بيده ولا يقبله , فإن لم يستطع استلامه بسبب الزحام لم يشر إليه
                            يسن لمن يطوف أن يكبر عند استلامه للحجر الأسود أو عند الإشارة إليه
                            لا يشرع لمن يطوف أن يقبل أو يستلم أو يشير إلى الركنين الشاميين لأنه صلى الله عليه وسلم لم يفعل ذلك بهما
                            (يسن لمن يطوف أن يقول بين الركن اليماني والحجر الأسود : ( ربنا آتنا في الدنيا حسنة وفي الآخرة حسنة وقنا عذاب النار
                            ليس هناك ذكر أو دعاء خاص بكل شوط من أشواط الطواف كما يعتقد البعض ٫ بل يجوز أن يقرأ المسلم القرآن في طوافه ,أو يقول ما شاء من الأدعية النبوية الصحيحة
                            تشترط الطهارة للطواف ٫أما إذا انتقض وضوء المسلم وهو يطوف فإنه يتوضأ ثم يعيد الطواف كله من جديد
                            إذا أقيمت صلاة الفريضة وهو يطوف فإنه يصليها مع المسلمين ثم يكمل ما بقي من طوافه
                            ٫ يجوز للمرأة أن تأكل حبوباً تؤخر الحيض عنها حتى تتم عمرتها بشرط أن لا تكون مضرة بصحتها
                            ٫من شك في عدد أشواط الطواف التي طافها فإنه يرجح الأقل , ثم يكمل ٫يجوز للمرأة الحائض أن تطوف حتى تطهر من حيضها
                        <h5 class="main mt-3">الصلاة عند المقام:</h5>
                        <p class="">(يسن للمعتمر عند توجهه للصلاة عند المقام أن يتلو قوله تعالى (واتخذوا من مقام إبراهيم مصلى
                            (يسن أن يصلي المعتمر ركعتين خلف المقام بعد طوافه , يقرأ في الركعة الأولى سورة ( قل يا أيها الكافرون ) وفي الركعة الثانية سورة ( قل هو الله أحد
                            إذا لم يستطع أن يصلي الركعتين خلف المقام بسبب الزحام فإنه يصليها في مكان آخر من المسجد الحرام
                            يسن عند فراغه من الركعتين أن يشرب من ماء زمزم ثم يذهب ليستلم الحجر الأسود إذا استطاع ذلك ٫ ثم يتجه إلى الصفا ليبدأ سعيه
                        </p>
                        <h5 class="main mt-3">السعي :</h5>
                        <p class="">السعي سبعة أشواط بين الصفا والمروة يبدأ من الصفا وينتهي بالمروة

                            يسن عند قربه من الصفا في بداية الشوط الأول أن يقرأ قوله تعالى إِنَّ الصَّفَا وَالْمَرْوَةَ مِنْ شَعَائِرِ اللَّهِ فَمَنْ حَجَّ الْبَيْتَ أَوْ اعْتَمَرَ فَلَا جُنَاحَ عَلَيْهِ أَنْ يَطَّوَّفَ بِهِمَا وَمَنْ تَطَوَّعَ خَيْرًا فَإِنَّ اللَّهَ شَاكِرٌ عَلِيمٌ٫
                            يسن أن يرقى المعتمر على الصفا حتى يرى الكعبة فيستقبلها ويرفع يديه كما يرفعها عند الدعاء قائلاً ( الله أكبر الله لأكبر الله أكبر, لا إله إلا الله وحده لا شريك له له الملك وله الحمد وهو على كل شيء قدير
                            لا إله إلا الله وحده لا شريك له أنجز وعده ونصر عبده وهزم الأحزاب وحده
                            ثم يدعو بما شاء من الدعاء ثم يعيد الذكر السابق , ثم يدعو بما شاء , ثم يعيد الذكر السابق مرة ثالثة , ثم يسعى إلى المروة
                            ويسن أن يرفع صوته بالتكبير والذكر السابق ويُسر صوته بالدعاء
                            يفعل المعتمر على المروة مثلما فعل على الصفا من التكبير (٣مرات ) والذكر السابق (٣ مرات ) والدعاء بين الأذكار (مرتين ) مع رفع يديه متوجهاً للكعبة
                            يسن إذا وصل الساعي بين العلمين الأخضرين أن يُسرع في المشي بشرط أن لا يضايق غيره من الساعين , أما في بقية المسعى فإنه يمشي مشياً عادياً
                            لا يشترط أن يرقى الساعي على أعلى الصفا والمروة , بل لو لمست رجلاه بداية ارتفاعها فهو جائز , ولكن السنة كما سبق أن يرقى عليهما حتى يرى الكعبة إن استطاع
                            لا تشترط الطهارة للسعي , فلو سعى وهو غير متوضىء جاز ذلك , ولكن الأفضل أن يكون على وضوء
                            لا يوجد ذكر أو دعاء خاص بالسعي , فلو قرأ القرآن أو ذكر الله أودعاه بما يتيسر فهو جائز
                            إذا أقيمت الصلاة وهو يسعى فإنه يصلي مع الجماعة في المسعى ثم يكمل سعيه
                            ٫لا يضطبع المعتمر أثناء السعي بل يكون إحرامه على كتفيه
                            ٫يجب على المعتمر غض بصره عن ما قد يفسد عمرته
                        </p>
                        <h5 class="main mt-3">حلق الشعر أو تقصيره:</h5>
                        <p class="">حلق شعر الرأس أو تقصيره من واجبات العمرة
                            حلق شعر الرأس أفضل من تقصيره ٫ لأنه صلى الله عليه وسلم دعا للمحلقين ثلاثاً ودعا للمقصرين مرة واحدة
                            يجب أن يستوعب التقصير جميع أنحاء الرأس ، فلا يكفي أن يقصر جهة ويترك أخرى
                            يجوز للمرأة أن تحلق شعر رأسها لقوله صلى الله عليه وسلم : (( ليس على النساء حلق إنما على النساء التقصير )) صحيح أبي داود (١٧٤) ولكن تقصره ، وذلك بأن تقص من كل  ضفيرة من شعرها قدر رأس الأصبع
                            بعد الحلق أو التقصير يتحلل المعتمر من إحرامه وبه تنتهي عمرته
                            ٫إذا نسي المعتمر أن يحلق شعر رأسه أو يقصره ثم خلع إحرامه فانه متى تذكر ذلك ولو في بلده فانه يلبس إحرامه ويحلق شعر رأسه أو يقصره ، ولا شيء عليه لأنه ناسي والله أعلم
                        </p>
                        <h4 class="main mt-3">مناسك الحج :</h4>
                        <p class=""><span class="main"> حج بيت الله الحرام</span> ركن من أركان الإسلام لقوله تعالى { ولله على الناس حج البيت من استطاع إليه سبيلا } ٫ وقوله صلى الله عليه وسلم: ( بني الإسلام على خمس : شهادة أن لا إله إلا الله وأن محمداً رسول الله وإقام الصلاة وإيتاء الزكاة وصوم رمضان وحج البيت من استطاع إليه سبيلا )٫ فالحج واجب على كل مسلم مستطيع مرة واحدة في العمر<
                            الاستطاعة هي أن يكون المسلم صحيح البدن ، يملك من المواصلات ما يصل به إلى مكة حسب حاله ، ويملك زاداً يكفيه ذهاباً وإياباً زائداً على نفقات من تلزمه نفقته ٫ ويشترط للمرأة خاصة أن يكون معها محرم
                            المسلم مخير بين أن يحج مفرداً أو قارناً أو متمتعاً الإفراد هو أن يحرم بالحج وحده بلا عمرة ٫ والقران هو أن يحرم بالعمرة والحج جميعا والتمتع هو أن يحرم بالعمرة خلال أشهر الحج ( وهي شوال و ذو القعدة وذو الحجة ) ثم يحل منها ثم يحرم بالحج في نفس العام ٫ ونحن في هذه المطوية سنبين صفة التمتع لأنه أفضل الأنساك الثلاثة ، لأن النبي صلى الله عليه وسلم  أمر به أصحابه
                            ( إذا وصل المسلم إلى الميقات يستحب له أن يغتسل ويُطيب بدنه ، لأنه صلى الله عليه وسلم اغتسل عند إحرامه ، ولقول عائشة رضي الله عنها : ( كنت أطيب رسول الله لإحرامه قبل أن يحرم )٫ ويستحب له أيضاً تقليم أظافره وحلق عانته وإبطيه
                        </p>
                        <h5 class="main mt-3">محظورات الإحرام:</h5>
                        <p class="main">لا يجوز للمحرم أن يفعل هذه الأشياء</p>
                        <ul class="">
                            <li>الجدال والخصام</li>
                            <li>الكذب</li>
                            <li>الغيبة وذكر الآخرين بالسوء</li>
                            <li>القذف</li>
                            <li>الجدال والخصام</li>
                            <li>الكلام البذيء والفاحش (ملاحظة : هذه الأشياء محرمة في كل الأحوال إلا أن شناعتها تزداد كثيرا خلال الحج)</li>
                            <li>صيد الحيوانات البرية أو تحريض الآخرين على اصطيادها</li>
                            <li>حلق الشعر وتقليم الأظافر</li>
                            <li>ارتداء الجوارب والخفاف أو أحذية تغطي القدم إلى الكعبين</li>
                            <li>أن يغطي رأسه بملاصق ، كالطاقية والغترة والعمامة وغيرها</li>
                            <li>ارتداء الملابس المخيطة</li>
                            <li>اجتثاث الأعشاب والنباتات وكسر أغصان الأشجار</li>
                            <li>استخدام العطر أو وضع الزيت على الرأس</li>
                            <li>المباشرة الزوجية أو الانشغال في أحاديث الهوى( أي يفعل مقدمات الجماع من اللمس والتقبيل بشهوة)</li>
                            <li>أن يتزوج أو يُزَوج غيره ، أو يخطب</li>
                            <li>أن يلبس الذكر مخيطاً ، وهو ما فُصّل على مقدار البدن أو العضو ، كالثوب أو الفانلة أو السروال ونحوه ، وهذا المحظور خاص بالرجال</li>
                            <li>أن يقتل صيداً برياً ، كالغزال والأرنب والجربوع ، ونحو ذلك</li>
                        </ul>
                        <h4 class="main mt-3">تنبيه</h4>
                        <p class="">من فعل شيئاً من هذه المحظورات جاهلاً أو ناسياً أو مُكرهاً فلا إثم عليه ولا فدية
                            ٫أما من فعلها متعمداً – والعياذ بالله – أو محتاجاً لفعلها : فعليه أن يسأل العلماء ليبينوا له ما يلزمه من الفدية
                        </p>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}