{% extends "home.twig" %}
{% block content %}
<section class="prog-option py-5 programme">
    <div class="text-center py-5">
        <h1 class="text-warning">برامج الحج</h1>
        <h2>فَإِذَا أَمِنْتُمْ فَمَنْ تَمَتَّعَ بِالْعُمْرَةِ إِلَى الْحَجِّ فَمَا اسْتَيْسَرَ مِنَ الْهَدْيِ</h2>
    </div>
    <div class="container">
        <div class="row my-5 ">
            <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                <div class="imgProg-holder">
                    <img class="rounded h-100" src="img/prog-4.jpg">
                </div>
                <div class="prog-details text-center text-white py-3">
                    <h4 class="text-warning">حج مستوي بري تحسين خمس نجوم </h4>
                    <h5>مدة البرنامج: 25 يوم</h5>
                    <h5>سعر البرنامج:58000 الف جنية مصرى</h5>
                    <h5>يوجد نقدا و بالتقسيط</h5>
                    <button class="btn warning px-4 my-3"><a href="haj.php" class="text-white">التفاصيل</a></button>
                </div>
            </div>
            <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                <div class="imgProg-holder">
                    <img class="rounded h-100" src="img/prog-1.jpg">
                </div>
                <div class="prog-details text-center text-white py-3">
                    <h4 class="text-warning">حج مستوي بري تحسين خمس نجوم </h4>
                    <h5>مدة البرنامج: 25 يوم</h5>
                    <h5>سعر البرنامج:58000 الف جنية مصرى</h5>
                    <h5>يوجد نقدا و بالتقسيط</h5>
                    <button class="btn warning px-4 my-3"><a href="haj.php" class="text-white">التفاصيل</a></button>
                </div>
            </div>
            <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                <div class="imgProg-holder">
                    <img class="rounded h-100" src="img/prog-2.jpg">
                </div>
                <div class="prog-details text-center text-white py-3">
                    <h4 class="text-warning">حج مستوي بري تحسين خمس نجوم </h4>
                    <h5>مدة البرنامج: 25 يوم</h5>
                    <h5>سعر البرنامج:58000 الف جنية مصرى</h5>
                    <h5>يوجد نقدا و بالتقسيط</h5>
                    <button class="btn warning px-4 my-3"><a href="haj.php" class="text-white">التفاصيل</a></button>
                </div>
            </div>
            <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                <div class="imgProg-holder">
                    <img class="rounded h-100" src="img/prog-3.jpg">
                </div>
                <div class="prog-details text-center text-white py-3">
                    <h4 class="text-warning">حج مستوي بري تحسين خمس نجوم </h4>
                    <h5>مدة البرنامج: 25 يوم</h5>
                    <h5>سعر البرنامج:58000 الف جنية مصرى</h5>
                    <h5>يوجد نقدا و بالتقسيط</h5>
                    <button class="btn warning px-4 my-3"><a href="haj.php" class="text-white">التفاصيل</a></button>
                </div>
            </div>
            <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                <div class="imgProg-holder">
                    <img class="rounded h-100" src="img/prog-5.jpg">
                </div>
                <div class="prog-details text-center text-white py-3">
                    <h4 class="text-warning">حج مستوي بري تحسين خمس نجوم </h4>
                    <h5>مدة البرنامج: 25 يوم</h5>
                    <h5>سعر البرنامج:58000 الف جنية مصرى</h5>
                    <h5>يوجد نقدا و بالتقسيط</h5>
                    <button class="btn warning px-4 my-3"><a href="haj.php" class="text-white">التفاصيل</a></button>
                </div>
            </div>
            <div class="prog-row flex-row text-center rounded col-md-4 my-3">
                <div class="imgProg-holder">
                    <img class="rounded h-100" src="img/prog-4.jpg">
                </div>
                <div class="prog-details text-center text-white py-3">
                    <h4 class="text-warning">حج مستوي بري تحسين خمس نجوم </h4>
                    <h5>مدة البرنامج: 25 يوم</h5>
                    <h5>سعر البرنامج:58000 الف جنية مصرى</h5>
                    <h5>يوجد نقدا و بالتقسيط</h5>
                    <button class="btn warning px-4 my-3"><a href="haj.php" class="text-white">التفاصيل</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}